@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  height: 100vh;
  width: 100%;
}

@layer components {
  .big-card-item{
    width: calc(16.666666% - 2rem);
  }
  @media (max-width:1536px){
    .big-card-item{
      width: calc(20% - 2rem);
    }
  }
  @media (max-width:1280px){
    .big-card-item{
      width: calc(25% - 2rem);
    }
  }
  @media (max-width:1024px){
    .big-card-item{
      width: calc(25% - 1rem);
    }
  }
  .title{
    color: white;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2;
  }
  .subtitle{
    color: #5F5F5F;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 12px;
  }
}